# Default OS files
.DS_Store

# Dependencies
node_modules/
/vendor/
composer.lock

# Build files
public/
*.js.map
*.css.map
yarn-error.log
.pnp.*
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDE
.vscode/
.idea/
